* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}
body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#9b59b6;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    height: 45vh;
    background: #8e44ad;
    border: 1px solid #9b59b6;
    box-shadow: 10px 10px 20px rgba(0,0,0, .2);

}

#text {display: none;}